*{
  font-family: Arial;
}
.page-borders{
  margin: 50px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-card{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  width: max-content;
  min-width: 200px;
}
.profile-card div{
  margin: 5px;
}