@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
   -webkit-transition: .2s linear;
   transition: .2s linear;
 }

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  position: relative;
  overflow: hidden;
  background: #efefef;
  padding-left: 10px;
}

.home .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
}

.home .content span {
  font-size: 2rem;
  color:  #00235B;
}

.home .content h3 {
  font-size: 4rem;
  color: #130f40;
  padding-top: 1rem;
}

.home .content p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}

.home .image {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41rem;
  flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}

.home .image .home-img {
  width: 100%;
  margin-top: 5rem;
}
.underline{
  margin: 15px auto;

  width: 90%;
  border: 2px solid #e55c5c;
}
.home .home-parallax-img {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #E64848;
  border-radius: .5rem;
}

.btn:hover {
  background: #130f40;
}
.box-container {
    border-radius: .5rem;
    background: #ffffff;
    padding: 1rem ;
    display: grid;
    grid-template-columns: 600px 1fr; /* Left column for the image, right column for title and description */
    gap: 20px; /* Spacing between boxes */
}

.box {
    display: flex;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: .5rem;
}
.box .image{
    align-items: center; /* Center vertically */
    padding: 10px;
}

.box .image img {
    max-width: 100%;
    max-height: 200px; /* Limit the image height to 200px */
}

.content {
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

/* Media query to make it responsive on smaller screens */
@media (max-width: 768px) {
    .box-container {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}

.heading h3 {
  font-size: 3rem;
  color: #E21818;
}

.link{
  color: #E21818;
}