<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>FlaskBlog</title>
</head>

<body>
    {% include "header.html" %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>
   <section class="home" id="home">

  <div class="content">
      <h1>Welcome to TopRecipe</h1>
      <h3>Different Spices for Different Tastes 😋</h3>
      <p>TopRecipe aims to provide you with a diverse range of exceptional flavors, making your culinary journey a
          delightful experience. Explore a world of recipes that cater to every palate and culinary curiosity. Whether
          you're a seasoned chef or a novice cook, our platform offers the perfect recipe for every occasion.</p>
  </div>

  <div class="image">
    <img src="{{ url_for('static', filename='img/Noodles-PNG-Image.png')}}" alt="" class="home-img">
    <img src="{{ url_for('static', filename='img/home-parallax-img2.png')}}" alt="" class="home-parallax-img">
  </div>

    </section>

    <div class="underline"></div>
    <div>
        <h1 style="text-align:center;">Recipes list</h1>
    {%  if user_is_authenticated  %}
    <div style="padding: 20px">
        <div class="addRecipe">
            <a href="{{ url_for('create_recipe') }}" class="btn">Add recipe</a>
        </div>
    </div>
    {% endif %}
        <div class="box-container">
        {% for recipe in recipes %}
            <div class="box">
              <div class="image">
                <img src="{{recipe.image_url}}">
              </div>
              <div class="content">
                <h3>
                    <a class="link" href="{{ url_for('detail_recipe', id=recipe.id) }}">{{ recipe.title }}</a>
                    <h2>Ingredients: {{ recipe.ingredients }}</h2>
                </h3>
                </div>
            </div>
        {% endfor %}
        </div>


    </div>
</body>
</html>